*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(https://image.freepik.com/foto-gratis/regalos-navidad-rojo-cinta-blanca_24972-649.jpg);
    background-size:cover;
}

header{
    font-size: 15px;
    text-align: center;
    margin-top: 30px;
    font-family: 'Pacifico', cursive;
}

footer{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.container{
    width: 660px;
    margin: 50px 150px;
    background-color: #c0e1ea;
}
/* in alternativa avevo pensato di mettere il background-image: (url), background-saze: contain, per fare in modo che il link diretto
allo shop si potesse aprire tramite il push sul cuore che sarebbe diventato rosso, e non il push sull'immagine come adesso. */
.prodotto{
    display: inline-block;
    position: relative;
    margin-left: 10px;
    margin-top: 5px;
}
.prodotto img {
    height: 180px;
    width:200px;
    object-fit:cover;
    border: 1px solid black;
}

.sconto{
    top:0;
    right:0;
    position: absolute;
    border: 1px dashed black;
    margin: 2px 2px;
}
.heart{
    position: absolute;
    bottom: 0;
    right:0;
    width: 55%;
    font-size: 20px;
    margin-bottom: 2px;
}
.heart:hover{
    color:red;
    cursor: help;
}

.sconto.yellow{
    background-color: yellow;
}
.sconto.blue{
    background-color: blue;
}
.sconto.red{
    background-color: red;
}
